@import '/src/theme.scss';

.container {
	display: flex;
	flex-direction: column;
	padding: 16px;
	margin-bottom: 8px;
	@include brutalBorder();

	a {
		font-weight: bold;
		font-size: large;
		color: $primary-color;
		text-decoration: none;
	}

	.languages {
		p {
			font-size: medium;

			span {
				font-weight: 700;
				font-size: x-small;
				color: $primary-color;

			}

			.more {
				text-decoration: underline;
			}
		}
	}

	.metrics {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		font-size: medium;
		width: 66.666667%;

		@media only screen and (max-width: 450px) {
			width: 100%;
		}

		span {
			color: $primary-color;
			font-weight: bold;
		}
	}
}