@import '/src/theme.scss';

.container {
	display: flex;
	flex-direction: column;
	margin: 1rem 0;
	padding: 16px;
	gap: 1rem;


	@include brutalBorder();

	.info {
		display: flex;

		flex-direction: row;

		@media only screen and (max-width: 450px) {
			flex-direction: column;
		}

		gap: 1rem;


		.description {
			display: flex;
			flex-direction: column;
			line-height: 1.7rem;

			a {
				color: $primary-color;
				font-weight: bold;
				text-decoration: underline;

			}

			span {
				color: $primary-color;
				font-weight: bold;
			}
		}

		img {
			width: 100%;
			object-fit: cover;
			@include brutalBorder();
		}
	}

	.metrics {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		@media only screen and (max-width: 450px) {
			flex-direction: column;
		}

	}
}

.metricsItem {
	font-size: medium;

	span {
		color: $primary-color;
		font-weight: bold;
	}
}