@import '/src/theme.scss';

.container {
	display: flex;
	flex-direction: column;
	margin: 1rem 0;
	padding: 16px;
	gap: 1rem;


	@include brutalBorder();

	.info {
		display: flex;
		flex-direction: row;
		gap: 1rem;


		.description {
			display: flex;
			flex-direction: column;

			a {
				color: $primary-color;
				font-weight: bold;
				text-decoration: underline;

			}

			span {
				color: $primary-color;
				font-weight: bold;
			}
		}

		img {
			width: 120px;
			object-fit: cover;
			@include brutalBorder();

			@media only screen and (max-width: 450px) {
				width: 60px;
				object-fit: cover;
			}
		}
	}

	.metrics {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		@media only screen and (max-width: 450px) {
			flex-direction: column;
		}

	}
}

.metricsItem {
	font-size: medium;

	span {
		color: $primary-color;
		font-weight: bold;
	}
}