@import '/src/theme.scss';


.container {
	display: flex;
	justify-content: center;
	vertical-align: middle;
	flex-direction: column;
	align-self: center;
	align-items: center;
	height: 100vh;
	@include fadeIn(1.5s);

	.title {
		color: $primary-color;
		font-size: xx-large;
	}

	.message {
		font-size: large;
	}
}