main {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container {
  width: 66.666667%;
  display: flex;
  padding-top: 16px;
  flex-direction: column;

  @media only screen and (max-width: 450px) {
    width: 91.666667%;
  }
}