$primary-color: rgb(8 145 178);
$border-color-primary: #000;
$border-color-secondary: $primary-color;

@mixin brutalBorder {
	border: 0.1rem solid $border-color-primary;
	border-right: 0.3rem solid $border-color-primary;
	border-bottom: 0.3rem solid $border-color-primary;
	border-radius: 0.5rem;

	:hover {
		border-color: $border-color-secondary;
	}
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@mixin fadeIn($time: 1.5s) {
	animation: fadeInAnimation ease $time;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}