$primary-color: #06b6d4;
$border-color-primary: #000;
$border-color-secondary: $primary-color;

@mixin brutalBorder($size) {
    border: $size solid $border-color-primary;

    :hover {
        border-color: $border-color-secondary;
    }
}

@mixin brutalBorderRight($size) {
    border-right: $size solid $border-color-primary;
}

@mixin brutalBorderBotton($size) {
    border-bottom: $size solid $border-color-primary;
}